<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Lauren Lucia</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </head>
    <body>
            <div id="sidebar" style="width:15%;border-left-color:white;float:left;clear:left">
                <table>
                    <tr>
                        <td style="width:10px"/>                        
                        <td>
                            @Html.ActionLink(" ", "Index", "Home", new
                                                    {
                                                        style = "background: url('" + Url.Content("~/Content/Images/LaurenImages/Nav/White Logo Transparent.png") + "') no-repeat center right; display:block; height:120px; width:200px;justify-content:center;"
                                                    })
                        </td>
                    </tr>
                </table>
                @RenderSection("sidebar", required: true)
                </div>
                <div style="width: 85%; float: right; ">
                    @RenderSection("featured", required: false)
                    </div>
    </body>
</html>
